---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: bazarr
  namespace: media
spec:
  install:
    disableWait: true
    remediation:
      retries: 100
  upgrade:
    remediation:
      retries: 100
  chart:
    spec:
      chart: app-template
      version: 1.3.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    image:
      repository: ghcr.io/onedr0p/bazarr
      tag: 1.1.4

    env:
      TZ: "${TZ}"

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    service:
      main:
        ports:
          http:
            port: &port 6767

    ingress:
      main:
        primary: true
        enabled: true
        ingressClassName: "traefik"
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: "${SECRET_CLOUDFLARE_TUNNEL_ID_2}.cfargotunnel.com"
        hosts:
          - host: &host "bazarr.${SECRET_DOMAIN_CASA}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
      local:
        enabled: true
        ingressClassName: cilium
        hosts:
          - host: &hostinternal "{{ .Release.Name }}.k8s.${SECRET_DOMAIN_INTERNAL}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *hostinternal

    persistence:
      config:
        enabled: true
        existingClaim: bazarr-config-0
      media:
        enabled: true
        existingClaim: media-nfs
        mountPath: /media
      backup:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${TRUENAS_VM_ADDRESS}"
            path: /mnt/tank/backups/softwarrself/bazarr
        mountPath: /config/backup
        readOnly: false
      sub-cleaner:
        enabled: true
        type: configMap
        name: bazarr-sub-cleaner-cm
        mountPath: /scripts
        defaultMode: 511

    resources:
      requests:
        memory: 250Mi
        cpu: 500m
      limits:
        memory: 16Gi

    prometheus:
      podMonitor:
        enabled: true
        interval: 10m
        scrapeTimeout: 2m
      volumeMounts:
        - name: config
          mountPath: /config
          readOnly: true
