---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: unifi-config-v3
  namespace: home
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
