---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: blackbox-exporter
  namespace: monitoring
spec:
  interval: 5m
  install:
    disableWait: true
    remediation:
      retries: 100
  upgrade:
    remediation:
      retries: 100
  chart:
    spec:
      # renovate: registryUrl=https://prometheus-community.github.io/helm-charts
      chart: prometheus-blackbox-exporter
      version: 5.8.2
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
      interval: 5m
  values:
    fullnameOverride: blackbox-exporter
    allowIcmp: true
    config:
      modules:
        icmp:
          prober: icmp
          timeout: 30s
          icmp:
            preferred_ip_protocol: "ip4"
    serviceMonitor:
      enabled: true
      defaults:
        labels:
          release: prometheus
        interval: 2m
        scrapeTimeout: 30s
      targets:
        - module: icmp
          name: blueiris
          url: "${BLUEIRIS_ADDRESS}"
        - module: tcp_connect
          url: "${SVC_NEOLINK_VM_ADDR}:8554"
          name: neolink-tcp
        - name: neolink-ping
          url: "${SVC_NEOLINK_VM_ADDR}"
          module: icmp
        - name: storage
          url: "${TRUENAS_VM_ADDRESS}"
          module: icmp
        - name: router
          url: "${GATEWAY_ADDRESS}"
          module: icmp
        - name: cam1
          url: "${CAM1_IP}"
          module: icmp
        - name: cam2
          url: "${CAM2_IP}"
          module: icmp
        - name: cam3
          url: "${CAM3_IP}"
          module: icmp
        - name: cam4
          url: "${CAM4_IP}"
          module: icmp
    prometheusRule:
      enabled: true
      additionalLabels:
        app: prometheus-operator
        release: prometheus
      rules:
        - alert: HostDown
          expr: probe_success == 0
          for: 1m
          labels:
            severity: critical
          annotations:
            message: The host {{"{{ $labels.target }}"}} is currently unreachable
        - alert: SlowResponseTime
          annotations:
            message: The response time for {{"{{ $labels.target }}"}} has been greater than 30 seconds for 5 minutes.
          expr: probe_duration_seconds > 30
          for: 5m
          labels:
            severity: warning
