---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  annotations:
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: 1.11.6
      sourceRef:
        kind: HelmRepository
        name: cilium-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation: # perform remediation when helm install fails
      retries: 100
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 100
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    cluster:
      name: "${CLUSTER_NAME}"
      id: "${CLUSTER_ID}"

    k8sServiceHost: "${CLUSTER_APISERVER_ENDPOINT}"
    k8sServicePort: 6443

    rollOutCiliumPods: true
    localRedirectPolicy: true

    kubeProxyReplacement: "strict"
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    ipam:
      mode: "kubernetes"

    operator:
      rollOutPods: true

    autoDirectNodeRoutes: true
    nativeRoutingCIDR: 10.244.0.0/16
    tunnel: disabled
    endpointRoutes:
      enabled: true

    hubble:
      enabled: true
      serviceMonitor:
        enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
      relay:
        enabled: true
        rollOutPods: true
      ui:
        enabled: true
        rollOutPods: true
        ingress:
          enabled: true
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
            external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
            external-dns.alpha.kubernetes.io/target: "${SECRET_CLOUDFLARE_TUNNEL_ID_2}.cfargotunnel.com"
          className: "traefik"
          hosts:
            - &host "hubble.${SECRET_DOMAIN_CASA}"
          tls:
#            - secretName: chart-example-tls
            - hosts:
                - *host

    bgp:
      enabled: true
      announce:
        loadbalancerIP: true

    externalIPs:
      enabled: false

    ipv6:
      enabled: false
