---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 1.1.3
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  install:
    disableWait: true
    remediation:
      retries: 100
  upgrade:
    remediation:
      retries: 100
  values:
    image:
      repository: ghcr.io/onedr0p/plex
      tag: 1.29.2.6364-6d72b0cf6@sha256:90929ad73d68e00e4cb587ca16bd204d40a4fd32a3546c75b58639d3d7d6079f

    tolerations:
      - key: "nuc"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"

    dnsConfig:
      options:
        - name: ndots
          value: "1"

    env:
      TZ: "${TZ}"

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 44
        - 109
        - 65539

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${SVC_PLEX_ADDR}
        externalIPs:
          - "${SVC_PLEX_ADDR}"
        externalTrafficPolicy: Local
        ports:
          http:
            port: 32400

    podAnnotations:
      k8s.v1.cni.cncf.io/networks: plex-wifi-static

    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: "${SECRET_CLOUDFLARE_TUNNEL_ID_2}.cfargotunnel.com"
        hosts:
          - host: &host "plex.${SECRET_DOMAIN_CASA}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: plex-library-config-v1
      media:
        enabled: true
        existingClaim: media-nfs
        mountPath: /data
      transcode:
        enabled: true
        type: emptyDir
        medium: Memory
      backup:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${TRUENAS_VM_ADDRESS}"
            path: /mnt/tank/backups/softwarrself/plex
        mountPath: /config/Backups
        readOnly: false

    resources:
      requests:
        cpu: 200m
        memory: 4Gi
        gpu.intel.com/i915: 1
      limits:
        gpu.intel.com/i915: 1
        memory: 32G
